.thim-link-login{
   font-size: 14px;
   padding-left: 20px;
   padding-right: 20px;
   display: inline-block;
   background: #fff;
   letter-spacing: .3px;
   text-align: left;
   height: 35px;
   line-height: 35px;
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
  /* -webkit-border-radius: 20px;
   -moz-border-radius: 20px; */
   border-radius: 20px;
}

.loginlink{

   color: #6a63dd !important;
}

h1{
   margin-top: 2%;
   text-align: center;
   color: white;
/*   margin-top:  100px; 
   color:#6a63dd; 
   height: 300px;
   width: 750px; */
}

.form-group{

   margin-top: 2%;
   width: 75%;

}

#up{
   position: left;
   padding-right: 475px;
}

.login-box{
   width: 600px;
   border: #6a63dd solid 5px;
   padding-top: 2%;
   border-radius: 0px 0px 20px 20px;
}

.row{
   border-radius: 20px 20px 0px 0px;
   border: #6a63dd solid 5px;
   width: 600px;
   background-color: #6a63dd;
   /*padding-top: 20%; */ 
   margin-top: 200px;
}

.btn{
   margin-top: 1%;
   margin-bottom: 1.5%; 
   width: 150px;
}



#acc{
   margin: 3% 0px 0px 0px ; 
}
#register{
   margin: 3% 0px 0px 0px;
   color: #6a63dd !important;
}

.icon {
   float: right;
   margin-right: 10px;
   margin-top: -26px;
   position: relative;
   z-index: 2;
}