{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" href="/static/dashboard.css">
{% endblock %}

{% block body %}

   <h1 align="center">Welcome {{session.name}}</h1>
  <div class="row mysec" id="student-section">
	 	<div class="col-6 ">
			<img src="static/undraw_student.svg" alt="" width="280px">
	  	</div>
	  	<div class="col-3 box">
			<div class="card shadow">
				<div class="card-body">
					<img src="static/laptop.png" alt="" width="100px">
					<center><a href="/give-test" class="btn btn-primary mybtn">Give Test</a></center>
				</div>
			</div>
	  	</div>
	  	<div class="col-3 box">
			<div class="card shadow">
				<div class="card-body">
					<img src="static/result.png" alt="" width="100px">
					<center><a  href="/{{session.username}}/tests-given" class="btn btn-primary mybtn">Results</a></center>
				</div>
			</div>
		</div>
  </div>
  <div class="row mysec" id="teacher-section">
		<div class="col-3 box">
			<div class="card shadow">
				<div class="card-body">
					<img src="static/research.png" alt="" width="100px">
					<center><a href="/{{session.username}}/tests-created" class="btn btn-primary mybtn">Student Results</a></center>
				</div>
			</div>
		</div>
		<div class="col-3 box">
			<div class="card shadow">
				<div class="card-body">
					<img src="static/notepad.png" alt="" width="100px">
					<center><a href="/create-test" class="btn btn-primary mybtn">Create Test</a></center>
				</div>
			</div>
	   </div>
	   <div class="col-6">
			<img src="static/undraw_teacher.svg" alt="" width="300px" style="margin-top: 50px;">
		</div>
 </div>
{% endblock %}


