{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="static/mylogin.css">
{% endblock %}


{% block body %}

<div class="container" align="center" id="login">
  <div class="row">
    <div class="col-sm">
      <h1>Login</h1>
    </div>
  </div>
  <div class="login-box well">
    <form action="" method="POST">
      <div class="form-group">
        <label id="up" >Username</label>
        <input type="text" name="username" class="form-control" value="", placeholder="eg. johnsmith">
      </div>
      <div class="form-group">
        <label id="up">Password</label>
        <input id="pass" type="password" name="password" class="form-control" data-toggle="password", placeholder="eg. john@123">
        <span class="fas fa-eye icon"></span>
      </div> 
      <button type="submit" class="btn btn-primary">Submit</button>
      <div>
        <p>Don't have an account?
          <a href="/register" id="register">Click here</a>.
        </p>
      </div>
    </form>
  </div>
</div> 

<script>
  var flag = true;
  $('.icon').on('click', function(){
    if(flag){
      $('#pass').prop('type','text');
      flag = false;
    } else {
      $('#pass').prop('type', 'password');
      flag = true;
    }
  }); 
</script>
{% endblock %}