{% extends 'layout.html' %}
{% block body %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Test ID</th>
                <th scope="col">Password</th>
                <th scope="col"></th>
             </tr>
        </thead>
        <tbody>
            {% for test in tests %}
                <tr>
                    <th>{{test['test_id']}}</th>
                    <th>{{test['password']}}</th>
                    <th><a class="btn btn-primary btn-md" href=/{{session.username}}/tests-created/{{test['test_id']}}>Result</a></th>
                </tr>
            {% endfor %}
            
        </tbody>
    
    </table>
{% endblock %}1