{% extends 'layout.html' %}
{% block body %}
<style type="text/css">
	td{
		padding: 10px;
		text-align: center;
	}
</style>
<table border="1" width="70%" align="center">
	<tr align="center">
		<td>Test ID</td>
		<td>Marks</td>
		<td></td>
	</tr>
    {% for test in tests %}
    <tr>	
    	<td>{{test['test_id']}}</td> 
    	<td>{{test['marks']}}</td> 
    	<td>
    		<a href="/{{session.username}}/{{test['test_id']}}">
    		<button class="btn btn-primary">Check Result</button>
    	</a>
    	</td>
    </tr>
    {% endfor %}

</table>
{% endblock %}