{% extends 'layout.html' %}
{% block body %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Test ID</th>
                <th scope="col">Password</th>
                <th scope="col">Subject</th>
                <th scope="col">Topic</th>
                <th scope="col"></th>
             </tr>
        </thead>
        <tbody>
            {% for test in tests %}
                <tr>
                    <td>{{test['test_id']}}</td>
                    <td>{{test['password']}}</td>
                    <td>{{test['subject']}}</td>
                    <td>{{test['topic']}}</td>
                    <td><a class="btn btn-primary btn-md mx-2" href=/{{session.username}}/tests-created/{{test['test_id']}}>Result</a><a class="btn btn-primary" href="/{{session.username}}/tests-created/{{test['test_id']}}/questions">Questions</a></td>
                </tr>
            {% endfor %}
            
        </tbody>
    
    </table>

{% endblock %}