{% extends 'layout.html' %}
{% block body %}
<style type="text/css">
	td,th {
		padding: 10px;
		text-align: center;
	}
</style>
<table class="table" width="70%" align="center">
	<thead class="thead-dark">
			<td scope="col">Test ID</td>
			<td scope="col">Subject</td>
			<td scope="col">Topic</td>
			<td scope="col">Marks</td>
			<td scope="col"></td>
		</tr>
	</thead>
	<tbody>
    {% for test in tests %}
    <tr>	
		<td>{{test['test_id']}}</td> 
		<td>{{test['subject']}}</td> 
		<td>{{test['topic']}}</td> 
    	<td>{{test['marks']}}</td> 
    	<td>
    		<a href="/{{session.username}}/{{test['test_id']}}">
    		<button class="btn btn-primary">Check Result</button>
    	</a>
    	</td>
    </tr>
    {% endfor %}
	</tbody>
</table>

<style>
		thead td {
			color: #fff;
		background-color: #343a40;
		border-color: #454d55;
		}
		
		</style>
{% endblock %}